<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 定义定时器任务 -->
	<bean id="reportUncomfirmJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>com.carrental.sm.job.impl.EmailReportUncomfirmJob</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="rentCarService">
					<ref bean="rentCarService" />
				</entry>
				<entry key="adminService">
					<ref bean="adminService" />
				</entry>
			</map>
		</property>
	</bean>

	<!-- 启动定时器 -->
	<!-- <bean id="simpleReportTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="reportUncomfirmJob" />
		<property name="startDelay">
			<value>360000</value>
		</property>
		<property name="repeatInterval">
			<value>86400000</value>
		</property>
	</bean> -->

	<!-- 定义触发器 -->
	<bean id="reportUncomfirmTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="reportUncomfirmJob" />
		<property name="cronExpression">
			<value>0 0/10 * * * ?</value>
		</property>
	</bean>

	<!-- 启动定时调度器 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="reportUncomfirmTrigger" />
			</list>
		</property>
	</bean>
</beans>