<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

   <display-name>carental</display-name>
   <!-- <distributable/> -->

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- 检查用户是否登录了系统的过滤器配置  开始 -->
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>com.carrental.sm.action.filter.SessionFilter</filter-class>
		<init-param>
			<description>将当前登录的用户的信息保存在 session 中时使用的key，如果没有配置此参数，则该过滤器不起作用</description>
			<param-name>sessionKey</param-name>
			<param-value>adminInfo</param-value>
			</init-param>
		<init-param>
			<description>
	          如果用户未登录（即在 session 中 key 为 sessionKey 的属性不存在或为空），则将请求重定向到该 url。
	          该 url 不包含web应用的 ContextPath。
	          如果不配置此参数，则在用户未登录系统的情况下，直接重定向到web应用的根路径（/）
			</description>
			<param-name>redirectUrl</param-name>
			<param-value>/jsp/admin/login.jsp</param-value>
		</init-param>
		<init-param>
			<description>
	          不需要进行拦截的 url 的正则表达式，即：如果当前请求的 url 的 servletPath 能匹配该正则表达式，则直接放行（即使未登录系统）。
	          此参数的值一般为 loginServlet 和 registServlet 等。
	          另外，参数 redirectUrl 的值不用包含在该正则表达式中，因为 redirectUrl 对应的 url 会被自动放行。
	          还有一点需要说明的是，该参数的值不包含web应用的 ContextPath。
			</description>
			<param-name>excepUrlRegex</param-name>
			<param-value>/jsp/admin/(login|welcome).jsp|/jsp/web/*.jsp</param-value>
		</init-param>
	</filter>

	<!-- action在struts中拦截 -->
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/jsp/*</url-pattern>
	</filter-mapping>
	<!-- 检查用户是否登录了系统的过滤器配置  结束 -->
    

    <welcome-file-list>
        <welcome-file>/jsp/web/jump.jsp</welcome-file>
    </welcome-file-list>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext.xml,
    		classpath:spring-quartz.xml
		</param-value>
	</context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

	<listener>
		<listener-class>com.carrental.sm.action.listener.MySessionListener</listener-class>
	</listener>
    
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <!-- <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping> -->
    
    <!-- session超时定义,单位为分钟 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<error-page>
		<error-code>401</error-code>
		<location>/jsp/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/jsp/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/jsp/error/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/error/500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/jsp/error/npe.jsp</location>
	</error-page>
	
    <mime-mapping>
	    <extension>js</extension> 
	    <mime-type>text/javascript</mime-type> 
    </mime-mapping> 
    <mime-mapping>
	    <extension>css</extension> 
	    <mime-type>text/css</mime-type> 
    </mime-mapping>
</web-app>
  
